.about-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura total da viewport */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.about-background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre toda a área sem distorcer */
    filter: blur(3px) brightness(0.7); /* Adiciona efeito de desfoque e escurecimento */
}

.about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Cor da fonte branca */
    z-index: 1; /* Fica acima da imagem de fundo */
}

.about-content h1 {
    font-size: 2em; /* Tamanho da fonte grande */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombras para melhor visibilidade */
}

.about-content p {
    font-size: medium;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombras para o texto principal */
}
