.banner-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura total da viewport */
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre toda a área sem distorcer */
    filter: blur(2px); /* Adiciona o efeito de desfoque */
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Camada semi-transparente */
    z-index: 1; /* Fica sobre a imagem mas atrás do texto */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em; /* Tamanho da fonte grande */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombras para melhor visibilidade */
    z-index: 2; /* Fica acima da camada de sobreposição */
}

.main_text {
    font-size: medium;
    color: white; /* Certifique-se de que o texto também está em branco */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombras para o texto principal */
}
